<style>

.mod_tm_bg_youtube {
    border: 11px solid white;
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.08);
    max-width: 848px;
    margin: 0 auto -8px;
}

</style>


<div class="pb-5">
    <div class="container ">

        <div class="row">
            <div class="moduletable center  col-sm-12">
                    <div class="page_header">
                        <h2>Brook Trailer</h2>
                    </div>

                    <div class="mod_custom mod_custom__center">
                        <p>Watch the trailer of Andre Barrett's brand new book “Branding For Profit”</p>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8 video-section bg_video mod_tm_bg_youtube">
                <div class="text-center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/D5ENhNOcFZA?controls=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>
</div>