<div id="promotion" class="section text-white">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-promotion-headline display-4 pb-5">{{ .heading | markdownify }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <img class="img-fluid" alt="Branding For Profit Kindle Book"
                    src="/images/about/branding-for-profit-kindle-book-mock.png">

            </div>
            <div class="col-md-6">

                <h3 class="text-white mt-5">{{ .title | markdownify }}</h3>

                <div class="tatsu-module tatsu-inline-text clearfix tatsu-SJAUW65HE   " data-animation="fadeIn">

                    <div class="tatsu-inline-text-inner pt-3">
                        <p class="lead">{{ .content | markdownify }}
                        </p>
                    </div>


            <div class="form-inline">
                <label class="my-1 mr-2 text-md" for="inlineFormCustomSelectPref">Price: </label>
              <select id="inlineFormCustomSelectPref" name="currency" class="form-control form-control-lg form-control-pricing" type="text" tabindex="-98">
  
                {{ range .locations }}
                <option value="{{ .price }}">{{ .discounted | markdownify }}</option>
                {{ end }}
              </select>
            </div>
                </div>

                <div class="dropdown pt-5">
                    <button class="btn btn-xl sale-btn btn-primary shadow dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Order On Amazon Now
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{ range .locations }}
                        <a class="dropdown-item" target="_blank"  href="{{ .url }}">{{ .location }}</a>
                        {{ end }}
                    </div>
                  </div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col text-center">
                <h3 class="display-4 text-warning">Offer Ends Soon</h3>
            </div>
        </div>
        <div class="row">
            <div class="col time-countdown line-right text-center">
                <div id="clock" class="time-count"></div>
            </div>
        </div>
    </div>

</div>