.blog-item {
	box-shadow: 12px 7px 90px 0 rgba(110, 123, 131, 0.1);
}

.post-thumb-sm {
	max-width: 80px;
	height: auto;
}

.quote {
	background: #eee;
	padding: 40px;
	color: #000;
	font-size: 18px;
	border-left: 4px solid $primary-color;
}

blockquote {
    position: relative;
    text-align: left;
    padding: 1.2em 0 2em 38px;
    border: none;
    margin: 20px auto 20px;
    max-width: 800px;
    width:100%;
    display: block;
}

blockquote:after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    color: #385777;
    top: 0;
    background: -moz-linear-gradient(top,#385777 0%,#385777 60%,rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top,#385777 0%,#385777 60%,rgba(255,255,255,0) 100%);
    /* background: linear-gradient(to bottom,#385777 0%,#385777 60%,rgba(255,255,255,0) 100%); */
}

blockquote:before {
    content:"â";
    font-family: "fontawesome";
    font-size: 40px;
    display: block;
    margin-bottom: 0.8em;
    font-weight: 400;
    color: #385777;
}

blockquote > cite, 
blockquote > p > cite {
    display: block;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 700;
    font-style: normal;
    margin-top: 1.1em;
    letter-spacing: 0;
    font-style:italic;
}



.share {
	li {
		a {
			padding-right: 10px;
			border-right: 1px solid rgba(0, 0, 0, 0.08);
		}
	}
}

.sidebar-widget {
	&.category {
		ul li {
			padding: 12px 0px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.08);
		}
	}

	&.tags {
		a {
			display: inline-block;
			padding: 4px 15px;
			border: 1px solid rgba(0, 0, 0, 0.08);
			margin-bottom: 4px;
			color: #777;

			&:hover {
				background: $primary-color;
				color: $light;
			}
		}
	}
}



.pagination {
	.page-item {
		margin: 5px;

		.page-link {
			width: 40px;
			height: 40px;
			background: #f5f5f5;
			display: inline-block;
			text-align: center;
			font-weight: 600;
			padding-top: 8px;
			font-size: 14px;
			border: 0;
			color: $black-lighter;

			&:hover {
				background: $primary-color;
				color: $light;
			}
		}

		&.active {
			.page-link {
				background: $primary-color;
				color: $light;
				border-color: $primary-color;
			}
		}
	}

	.page-item:first-child .page-link,
	.page-item:last-child .page-link {
		border-radius: 0;
	}
}