

/*--------------------------
PAGE BANNER
--------------------------*/

.page-banner-area{
    padding: 180px 0px 90px;
    position: relative;
}

.form-control-pricing {
    font-weight: 700;
    font-family: lora,serif;
    color: #cc302b;
    border: 1px solid #ced4da !important;
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
}

.dropdown-item {
    font-size: 1rem !important;
}