<style>
  .btn-text {
    position: relative;
    padding-bottom: 20px;
  }
</style>
<div class="chapter_sec">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <span class="limited_time ">Limited Time Special - Download The Digital Version For Only $9.00</span>
        <h2 class="headings1 mt30 mb30">Here’s A Glimpse Of The Chapters<br> You’re Going To Discover In The<br>
          Branding For Profit
          Book…</h2>
      </div>
    </div>

    <div class="row pb-5">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="chapter_sec_new">
              <img src="/images/intro-chapter.jpg" alt="Chapter 1">
              <div class="text-left text_area">
                <span class="chapter_number">Chapter 1</span>
                <h3>Introduction</h3>
                <p class="pb-5 mb-5">Discover why a brand is so important and how it made this particular entrepreneur a
                  billionaire even though he started his business late in life.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="chapter_sec_new">
              <img src="/images/chapter-2.jpg" alt="Chapter 2">
              <div class="text_area">
                <span class="chapter_number">Chapter 2</span>
                <h3>Why Some Brands Drive Greater Profits Than Others</h3>
                <p> Learn exactly what a brand is so you know what to consider when creating your own. Understand how to
                  identify good branding elements in other companies</p>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="chapter_sec_new">
              <img src="/images/chapter-3.jpg" alt="Chapter 3">
              <div class="text_area">
                <span class="chapter_number">Chapter 3</span>
                <h3>Motivational Forces That Cause People To Buy</h3>
                <p>Take a dive into human psychology and learn the forces at play in driving their behaviour. Knowing
                  this allows you to position your brand to take advantage of natural human tendencies.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="chapter_sec_new">
              <img src="/images/chapter-4.jpg" alt="Chapter 4">
              <div class="text_area">
                <span class="chapter_number">Chapter 4</span>
                <h3>Your Brand And Marketing</h3>
                <p> Understand how your brand fits into marketing. You'll learn a simple process that every buyer goes
                  through so that you know how to position yourself for a sale.</p>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="chapter_sec_new">
              <img src="/images/chapter-5.jpg" alt="Chapter 5">
              <div class="text_area">
                <span class="chapter_number">Chapter 5</span>
                <h3>Secrets Of A Good Brand</h3>
                <p>Here we distill the little known strategies that the best brands are using to capture their customers
                  and keep them returning for years to come.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="chapter_sec_new">
              <img src="/images/chapter-6.jpg" alt="Chapter 6">
              <div class="text_area">
                <span class="chapter_number">Chapter 6</span>
                <h3>Techniques For Extraordinary Branding</h3>
                <p>Here we show some examples of techniques used by amazing brands that had a huge impact on the market
                  place. (Caution, these techniques are powerful and need to be used with care).</p>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="position-relative">
              <img class="clicktoplay" alt="clicktoplay" src="/images/clicktoplay.png">
              <div class="video_section mb30 position-relative">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item"
                    src="https://player.vimeo.com/video/473136195?muted=0&amp;autoplay=0&amp;title=0&amp;byline=0&amp;portrait=0"
                    webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" allow="autoplay"></iframe>
                </div>


              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="chapter_sec_new">
              <img src="/images/chapter-7.jpg" alt="Chapter 7">
              <div class="text_area">
                <span class="chapter_number">Chapter 7</span>
                <h3>Naming Your Brand For Maximum Impact</h3>
                <p>Learn the 4 Key principles you need to consider when creating a name for your brand. Not following
                  even one of these could be detrimental to your business.</p>
              </div>
            </div>

          </div>

          <div class="col-md-6">
            <div class="chapter_sec_new">
              <img src="/images/chapter-8.jpg" alt="Chapter 8">
              <div class="text_area">
                <span class="chapter_number">Chapter 8</span>
                <h3>How To Create The Low Cost High Profit Brand</h3>
                <p>A step by step guide based on all the theory covered. You will get actionalble steps you need to take
                  to create and market your brand for a successful launch.</p>
              </div>
            </div>

          </div>
        </div>


      </div>
      <div class="col-md-4 mb-2">
        <div class="top_right_sec big_cta">
          <p class="toptxt">DIGITAL DOWNLOAD NOW</p>
          <div class="inner_white_bkg">
            <h1 class="small">Get instant access to the<br>Branding For Profit book</h1>
            <p class="text-center"><span class="bkg_yellow small_headings">and also get 8 free bonuses valued at
                $340</span></p>
            <div class="top_right_banner_outer">
              <img alt="Books" class="w-100 img-fluid" src="/images/about/branding-for-profit-mockups.png">
            </div>



            <h4 class="txt_red">Your Price: Only $9.00</h4>
            <h4 class="black">List Price $97</h4>
            <h4 class="small">You’re Saving $70.00 Today</h4>
            <p class="savetoday fsize15">Download The eBook For Just $9.00!</p>
            <p class="fsize15 mb15">Delivered instantly. Start reading in the next 2 minutes.</p>
            <p class="avail_dwld"><img alt="download icon" src="/images/download.png"> &nbsp;Now available for instant
              download</p>





            <div class="text-center mt-5">
              <a href="#order_now" class="download_btn h-100 text-center">
                <div class="text-center">
                  <p class="text-center btn-text"> Download Now </p>
                </div>
              </a>
            </div>
            <div class="pt-3"></div>
            <a href="#order_now" class="text-center" style="font-size: 14px!important;">Click Here To
              Download Your <br>Branding For Profit Book Now</a>
            <div class="pb-3"></div>


            <p class="mbc_logo_txt"
              style="margin:0 auto 15px; color: #061130; font-family: 'helveticabold'; font-weight: normal; width: fit-content; max-width: 250px; font-weight:600; ">
              <img alt="mbc_logo" src="/images/money_back_logo.png"> Backed By Our Unconditional<br>
              30 Day Money Back
              Guarantee
            </p>
          </div>
          <div class="clearfix"></div>
          <div class="text-center">
            <img class="img-fluid w-75" alt="secure_checkout_img" src="/images/secure_img21.png">
          </div>

        </div>
      </div>

      <div class="chapter_sec_new">
        <img src="/images/Rectangle-393.png" alt="Steve Post">
        <div class="text_area big">
          <span class="ct">Customer Testimonial</span>
          <h3>Steve Post</h3>
          <p> “The biggest take away was the idea of acquisition first, profits later. Can’t be afraid to spend a lot
            on ads upfront and have a small purchase pay for the ads with the end game of upselling those clients
            later.”​</p>
        </div>
      </div>

      <div class="chapter_sec_new">
        <img src="/images/dylan.png" alt="dylan.png">
        <div class="text_area big">
          <span class="ct">Customer Testimonial</span>
          <h3>Dylan Nicholson</h3>
          <p> “You can build a system that will be effective long term that can turn small low commitment puchases
            into recurring revenue and even high ticket sales.”​</p>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<!--&&&&&&&&&&&&&& Download Now for only $9.00 &&&&&&&&&&&&&&&&&-->
<div style="background: none!important;" class="hereiseverything pt0">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center mt-5">
        <img alt="download_your_copy" class="download_your_copy" src="/images/downloadcopynow.png">
        <a href="#order_now" class="download_btn w676"><img alt="arrow" class="btn_arrow" src="/images/btn_arrow.svg">
          Download Now for only $9.00 <br><small>And Get Instant Access</small></a>
        <a href="#order_now" class="clickhere_txt" style="color: #000471 !important;">Click Here To DOwnload Your
          Branding For Profit Book Now</a>
        <p class="mbc_logo_txt" style="color: #000471 !important;"><img alt="mbc_logo"
            src="/images/money_back_logo.png">
          Backed By Our Unconditional <br>30 Day Money Back Guarantee</p>
      </div>
    </div>
  </div>
</div>