<style>
  @media screen and (min-width: 0px) and (max-width: 1024px) {
    .div-mobile {
      display: block;
    }

    .div-desktop {
      display: none;
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 3000px) {
    .div-mobile {
      display: none;
    }

    .div-desktop {
      display: block;
    }
  }
</style>

<div class="offer-section div-desktop">
  <div class="container pt-5">
    <div class="bg-white pt-5 border">

      <div class="row">


        <div class="col-12 text-center">
          <span class="limited_time ">Limited Time Special - Download The Digital Version For Only $9.00</span>
          <img alt="this_deal" class="this_deal" src="/images/this_deal.svg">
        </div>
        <div class="col-12 text-center">
          <h2 class="headings1">The Only System <span>You’ll Ever Need</span><br> To Attract Raving Customers</h2>

          <h3 class="headings3">

            We put everything we’ve learned, everything we use ourselves in this book so that you can learn<br>

            from our mistakes, our wins, as well as benefitting from all the time, effort, and money that has gone<br>

            into the experiences that made their way into this book.
          </h3>
        </div>
      </div>



      <div class="row">
        <div class="col-3"><img alt="thisiswhat" class="thisiswhat" src="/images/thisiswhat.svg">
        </div>
        <div class="col-6 book_summery">
          <ul class="d-flex flex-row">
            <li><strong>8 Chapters</strong> <br>Theory chapters.<br> Execution chapters.<br> Step by Step guide chapter.
            </li>
            <li><strong>200 Pages</strong> <br>Everything you need to know to create a highly profitable brand.</li>
            <li><strong>1 System</strong> <br>Do what we outline<br> and it works<br> in any niche.</li>
          </ul>
        </div>
        <div class="col-3"></div>

      </div>

      <div class="row book_icons_details">
        <div class="col-3 text-right left">

          <div class="book_icons">
            <h3>Build A Community</h3>
            <p>Of loyal followers who consume your content, buy your products, and support what you do because they
              believe in your brand.</p>
          </div>

          <div class="book_icons ">
            <h3>Create A 7-Figure<br> Business</h3>
            <p>Without constantly wondering how you’re going to get your next customer.</p>
          </div>

          <div class="book_icons">
            <h3>Sell High Priced<br> Products and Services </h3>
            <p>Position yourself highly in the market place so you can generate substantial revenue and profit.</p>
          </div>

        </div>
        <div class="col-6 text-center ">
          <img class="book_graphics " alt="book_graphics" src="/images/about/branding-for-profit-book.png">

          <div class="row">
            <div class="col-12 text-center">
              <img alt="download_your_copy" class="download_your_copy2" src="/images/download_your_copy.svg">
              <a href="#order_now" class="download_btn w503"><img alt="arrow" class="btn_arrow2"
                  src="/images/btn_arrow.svg"> Download Now
                for only $9.00 <br><small>And Get Instant
                  Access</small></a>
              <a href="#order_now" class="clickhere_txt">Click Here To Download Your Branding For Profit Book Now</a>
            </div>
            <div class="col-12 text-center">
              <p class="mbc_logo_txt"><img alt="mbc_logo" src="/images/money_back_logo.png"> Backed
                By Our Unconditional <br>30 Day Money Back Guarantee</p>
            </div>
          </div>
        </div>
        <div class="col-3 right">
          <div class="book_icons">
            <img alt="line" class="line4" src="/images/line4.svg">
            <h3>Build A Valuable<br> Asset</h3>
            <p>Learn how to develop a valuable brand that is able to generate revenue based purely on reputation alone.
            </p>
          </div>

          <div class="book_icons">
            <img alt="line" class="line5" src="/images/line5.svg">
            <h3>Create An Automatic<br> Marketing Machine</h3>
            <p>So people find out about you and your business, and buy your products and services, even after you shut
              down the computer. </p>
          </div>

          <div class="book_icons">
            <img alt="line" class="line6" src="/images/line6.svg">
            <h3>Put Yourself No. 1<br> In Customer Minds</h3>
            <p>So they will always think about you when it comes time to buy instead of your competition.</p>
          </div>

        </div>
      </div>

    </div>


    <section class="pt-5">

      <div class="hereiseverything">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="headings2">Here’s <span>Everything You’re Getting</span> Instant Access To Today For Only $9.00
              </h2>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 text-center">
              <img alt="Branding For Profit Mockups" class="img-fluid w-75" src="/images/about/branding-for-profit-mockups.png">
            </div>
          </div>
        </div>
      </div>

      <div class="book_details_sec pb0">
        <div class="container">

          <div class="row">
            <div class="col-lg-12">
              <div class="book_sec_checkout">


                <div class="row">
                  <div class="col-lg-12">
                    <div class="inner_box">

                      <div class="row">
                        <div class="col-md-6">

                          <div class="row">
                            <div class="col-lg-4 book_img">
                              <img class="img-fluid" alt="Branding For Profit Kindle Supported E-book"
                                src="/images/about/branding-for-profit-kindle.png">
                            </div>
                            <div class="col-lg-8 book_details">
                              <h4>Branding For Profit Kindle Supported E-book</h4>
                              <p class="small mb30">8 Chapters. 200 pages. All focused on one thing: helping you create
                                a
                                valuable brand that attracts customers automatically.</p>
                              <div class="row">
                                <div class="col-lg-8">
                                  <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> <img
                                      alt="Download" src="/images/book-2-fill.svg"> DIGITAL eBook</h5>
                                </div>
                                <div class="col-lg-4 text-right">
                                  <h5>Price: $9.00 </h5>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="col-md-6">
                          <ul class="details_list">

                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Create A 7 - Figure Business Through Brand Value</span></li>
                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Build A Community Of Loyal Repeat Customers</span></li>
                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Sell Low Cost Product Or Services At Much Higher Prices</span></li>
                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Create Persuasive Communication That Sells</span></li>
                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Become The Goto Solution In Your Industry</span></li>
                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Create A Brand That Automatically Attracts Customers</span></li>
                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Outsell Your Competition Even When You Charge More</span></li>
                          </ul>

                        </div>


                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-lg-12">
              <div class="book_sec_checkout">

                <div class="row">
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="img-fluid" alt="Fast Start Branding Video Series"
                            src="/images/bonus/fast-start-branding.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>Fast Start Branding<br />Video Series</h4>
                          <p class="small mb30">Understand what you need to do in hours rather than weeks or months with
                            the Fast Start Branding Video Series.
                            This online course will walk you through implementation every step of the way from zero all
                            the way to launch.</p>
                          <div class="row">
                            <div class="col-lg-6 p-0">
                              <h5 class="mt-2">
                                <img alt="Download" src="/images/download-cloud-fill.svg">
                                <img alt="Download" src="/images/book-2-fill.svg">
                                INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 text-left">
                              <h5> <del>Price: $297</del> </h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img pl15"><img class="img-fluid w-75" alt="Brand Style Guide Template"
                            src="/images/bonus/brand-style-guide.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>Brand Style Guide </br>Template</h4>
                          <p class="small mb30"> This template helps your marketing stay on brand. It keeps your brand
                            message consistent allowing your customers to build greater trust in you.</p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec text-right">
                              <h5><del>Price: $67 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="img-fluid w-100" alt="THE PERFECT STORY GUIDE"
                            src="/images/bonus/perfect-story-guide.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>THE PERFECT STORY<br>GUIDE</h4>

                          <p class="small mb30"> Crafting a Brand Story is essential to giving your Brand a Unique
                            Position in the market place. This guide helps you to put that story together with a story
                            plot proven to be the most effective. </p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec text-right">
                              <h5><del>Price: $59 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="img-fluid book w-100" alt="Buyers Journey Template"
                            src="/images/bonus/buyers-journey-template.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>Buyers Journey Template</h4>

                          <p class="small mb30"> Every buyer goes through the same journey. Once you know what it is,
                            you will be able to craft your message to move them along the path to buying your solution
                            using this template. </p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec text-right">
                              <h5><del>Price: $79 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="book" alt="The Perfect Customer Template"
                            src="/images/bonus/perfect-customer-template.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>The Perfect Customer <br />Template</h4>

                          <p class="small mb30">Define your perfect customer using this template to remove difficult
                            annoying customers from your business. Every customer will be a raving fan of your products
                            or services. </p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec text-right">
                              <h5><del>Price: $99 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="book w-100" alt="The Persuasive Brand Guide"
                            src="/images/bonus/persuasive-brand-guide.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>The Persuasive <br /> Brand Guide</h4>

                          <p class="small mb30">Create a persuasive brand along with influential marketing with help
                            from this guide. It breaks down the exact steps you take to persuade customers to buy
                            without coming across 'salesy'. </p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec text-right">
                              <h5><del>Price: $99 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="img-fluid" alt="Launch Checklist"
                            src="/images/bonus/launch-checklist.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>Launch Checklist</h4>

                          <p class="small mb30">Ready to Launch? This checklist will ensure that you have covered the
                            most important criteria for launching your brand. It guarantees you don't forget anything
                            vital in a successful launch.</p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec text-right">
                              <h5><del>Price: $19 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="book" alt="The Entrepreneurs and startups Community"
                            src="/images/bonus/entrepreneurs-startups-community.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>THE ENTREPRENEURS AND <br /> STARTUPS COMMUNITY</h4>

                          <p class="small mb30">Get around other successful people on the same journey as you. Here
                            you’ll find help, support, and inspiration. </p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec text-right">
                              <h5><del>Price: $29 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="" style="text-align: center; font-size: 42px;">
                Total Value = <del>$757.00</del>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center mt-5">
              <img alt="download_your_copy" class="download_your_copy" src="/images/downloadcopynow.png">
              <a href="#order_now" class="download_btn w676"><img alt="arrow" class="btn_arrow"
                  src="/images/btn_arrow.svg"> Download Now for only $9.00 <br><small>And Get Instant Access</small></a>
                  <a href="#order_now" class="clickhere_txt" style="color: #000471 !important;">Click Here To Download Your
                    Branding For Profit Book Now</a>
              <p class="mbc_logo_txt" style="color: #000471 !important;"><img alt="mbc_logo"
                  src="/images/money_back_logo.png"> Backed By Our Unconditional <br>30 Day Money Back Guarantee</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<section class="div-mobile">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="headings1 p-3">The Only System <span>You’ll Ever Need</span><br> To Acquire Customers &amp; Clients
        </h2>
        <h5 class="pt-3">

          We put everything we’ve learned, everything we use ourselves in this book so that you can learn<br>

          from our mistakes, our wins, as well as benefitting from all the time, effort, and money that has gone<br>

          into the experiences that made their way into this book.
        </h5>
      </div>
    </div>
    <div class="row mt-3">
      <div class="d-flex justify-content-center">
        <img class="img-fluid w-100" alt="book_graphics" src="/images/about/branding-for-profit-book.png">
      </div>
    </div>
    <div class="mt-3">
      <div class="row">
        <div class="col-sm-12 text-center mt-3">
          <h2 class="p-3">Build A Community</h2>
          <p>Of loyal followers who consume your content, buy your products, and support what you do because they
            believe in your brand.</p>
        </div>

        <div class="col-sm-12 text-center">
          <h2 class="p-3">Create A 7 -Figure<br> Business</h2>
          <p>Without constantly wondering how you’re going to get your next customer.</p>
        </div>

        <div class="col-sm-12 text-center">
          <h2 class="p-3">Sell High Priced<br> Products and Services </h2>
          <p>Position yourself highly in the market place so you can generate substantial revenue and profit.</p>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-sm-12 text-center">
          <h2>Build A Valuable<br> Asset</h2>
          <p>Learn how to develop a valuable brand that is able to generate revenue based purely on reputation alone.
          </p>
        </div>
        <div class="col-sm-12 text-center mt-3">
          <h2 class="p-3">Create An Automatic<br> Marketing Machine</h2>
          <p>So people find out about you and your business, and buy your products and services, even after you shut
            down the computer. </p>
        </div>

        <div class="col-sm-12 text-center mt-3">
          <h2 class="p-3">Put Yourself No. 1<br> In Customer Minds</h2>
          <p>So they will always think about you when it comes time to buy instead of your competition.</p>
        </div>
      </div>
    </div>
    <div class="row pt-3 pb-3">
      <div class="col-12">
        <div class="text-center">
          <a href="#order_now" style="margin: 5px 0" class="download_btn w503 pt-3"><img alt="arrow" class="btn_arrow2"
              src="/images/btn_arrow.svg"> Download Now for $9.00 <br><small>And Get Instant
              Access</small>
          </a>
        </div>
      </div>
      <div class="col-md-12">
        <a href="#order_now" class="clickhere_txt" style="color: #000471 !important;">
          Click Here To Download Your Branding For Profit Book Now</a>
        <p class="mbc_logo_txt" style="color: #000471 !important;"><img alt="mbc_logo"
            src="/images/money_back_logo.png"> Backed By Our Unconditional <br>30 Day Money Back Guarantee</p>
      </div>
    </div>


    <section>

      <div class="hereiseverything">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="headings2">Here’s <span>Everything You’re Getting</span> Instant Access To Today For Only $9.00
              </h2>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 text-center">
              <img alt="Branding For Profit Mockups" class="img-fluid w-100" src="/images/about/branding-for-profit-mockups.png">
            </div>
          </div>
        </div>
      </div>

      <div class="book_details_sec pb0">
        <div class="container">

          <div class="row">
            <div class="col-lg-12">
              <div class="book_sec_checkout">


                <div class="row">
                  <div class="col-lg-12">
                    <div class="inner_box">

                      <div class="row">
                        <div class="col-md-6">

                          <div class="row">
                            <div class="col-lg-4 book_img">
                              <img class="img-fluid w-50 " alt="Branding For Profit Kindle Supported E-book"
                                src="/images/about/branding-for-profit-kindle.png">
                            </div>
                            <div class="col-lg-8 book_details">
                              <h4>Branding For Profit Kindle Supported E-book</h4>
                              <p class="small mb30">8 Chapters. 200 pages. All focused on one thing: helping you create
                                a
                                valuable brand that attracts customers automatically.</p>
                              <div class="row">
                                <div class="col-lg-8">
                                  <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> <img
                                      alt="Download" src="/images/book-2-fill.svg"> DIGITAL eBook</h5>
                                </div>
                                <div class="col-lg-4">
                                  <h5>Price: $9 </h5>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="col-md-6">
                          <ul class="details_list">

                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Create A 7 - Figure Business Through Brand Value</span></li>
                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Build A Community Of Loyal Repeat Customers</span></li>
                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Sell Low Cost Product Or Services At Much Higher Prices</span></li>
                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Create Persuasive Communication That Sells</span></li>
                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Become The Goto Solution In Your Industry</span></li>
                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Create A Brand That Automatically Attracts Customers</span></li>
                            <li><img alt="question" src="/images/green_check24.svg"><span class="bkgyellow">
                              Outsell Your Competition Even When You Charge More</span></li>
                          </ul>

                        </div>


                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-lg-12">
              <div class="book_sec_checkout">

                <div class="row">
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="img-fluid w-75 mt-3"
                            alt="Fast Start Branding Video Series" src="/images/bonus/fast-start-branding.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>Fast Start Branding<br />Video Series</h4>
                          <p class="small mb30">Understand what you need to do in hours rather than weeks or months with
                            the Fast Start Branding Video Series.
                            This online course will walk you through implementation every step of the way from zero all
                            the way to launch.</p>
                          <div class="row">
                            <div class="col-lg-8">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> <img
                                  alt="Download" src="/images/book-2-fill.svg"> Instant Access</h5>
                            </div>
                            <div class="col-lg-4">
                              <h5><del>Price: $297</del> </h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img pl15"><img class="img-fluid w-50" alt="Brand Style Guide Template"
                            src="/images/bonus/brand-style-guide.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>Brand Style Guide </br>Template</h4>
                          <p class="small mb30"> This template helps your marketing stay on brand. It keeps your brand
                            message consistent allowing your customers to build greater trust in you. </p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec">
                              <h5><del>Price: $67 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="img-fluid w-50" alt="THE PERFECT STORY GUIDE"
                            src="/images/bonus/perfect-story-guide.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>THE PERFECT STORY<br>GUIDE</h4>

                          <p class="small mb30"> Crafting a Brand Story is essential to giving your Brand a Unique
                            Position in the market place. This guide helps you to put that story together with a story
                            plot proven to be the most effective. </p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec">
                              <h5><del>Price: $59 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="img-fluid book w-50" alt="Buyers Journey Template"
                            src="/images/bonus/buyers-journey-template.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>Buyers Journey Template</h4>

                          <p class="small mb30"> Every buyer goes through the same journey. Once you know what it is,
                            you will be able to craft your message to move them along the path to buying your solution
                            using this template. </p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec">
                              <h5><del>Price: $79 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="img-fluid book w-50"
                            alt="The Perfect Customer Template" src="/images/bonus/perfect-customer-template.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>The Perfect Customer <br />Template</h4>

                          <p class="small mb30">Define your perfect customer using this template to remove difficult
                            annoying customers from your business. Every customer will be a raving fan of your products
                            or services. </p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec">
                              <h5><del>Price: $99 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="book w-50" alt="The Persuasive Brand Guide"
                            src="/images/bonus/persuasive-brand-guide.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>The Persuasive <br /> Brand Guide</h4>

                          <p class="small mb30">Create a persuasive brand along with influential marketing with help
                            from this guide. It breaks down the exact steps you take to persuade customers to buy
                            without coming across 'salesy'. </p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec">
                              <h5><del>Price: $99 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="img-fluid w-50" alt="Launch Checklist"
                            src="/images/bonus/launch-checklist.png"></div>
                        <div class="col-lg-8 book_details">
                          <h4>Launch Checklist</h4>

                          <p class="small mb30">Ready to Launch? This checklist will ensure that you have covered the
                            most important criteria for launching your brand. It guarantees you don't forget anything
                            vital in a successful launch. </p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec">
                              <h5><del>Price: $19 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="inner_box">
                      <div class="included"><img class="inc" alt="inc" src="/images/included.svg"></div>
                      <div class="row">
                        <div class="col-lg-4 book_img"><img class="img-fluid w-75 mt-4"
                            alt="The Entrepreneurs and startups Community"
                            src="/images/bonus/entrepreneurs-startups-community.png"></div>
                        <div class=" col-lg-8 book_details">
                          <h4>THE ENTREPRENEURS AND <br /> STARTUPS COMMUNITY</h4>

                          <p class="small mb30">Get around other successful people on the same journey as you. Here
                            you’ll find help, support, and inspiration.</p>
                          <div class="row">
                            <div class="col-lg-6">
                              <h5 class="mt-2"><img alt="Download" src="/images/download-cloud-fill.svg"> INSTANT ACCESS
                              </h5>
                            </div>
                            <div class="col-lg-6 price_sec">
                              <h5><del>Price: $29 </del></h5>
                              <img class="free_green" alt="free" src="/images/free.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="" style="text-align: center; font-size: 24px;">
                Total Value = <del> $757.00 </del>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center mt-5">


              <a href="#order_now" style="margin: 5px 0" class="download_btn w503 pt-3"><img alt="arrow"
                  class="btn_arrow2" src="/images/btn_arrow.svg"> Download Now for $9.00 <br><small>And Get Instant
                  Access</small>
              </a>
              <br />

              <a href="#order_now" class="clickhere_txt" style="color: #000471 !important;">
                Click Here To Download Your Branding For Profit Book Now</a>
              <p class="mbc_logo_txt" style="color: #000471 !important;"><img alt="mbc_logo"
                  src="/images/money_back_logo.png"> Backed By Our Unconditional <br>30 Day Money Back Guarantee</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>