<div class="faq_sec" id="sequence-id-17" sequence-id="17">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Frequently Asked Questions</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 pr50">
          <h3>Who is this for?</h3>
          <p>This is for anyone who wants to start or grow their business by acquiring more customers, automatically. Coaches, consultants, e-commerce, tech startups, agency owners,
            artists, professional service providers, influencers, information marketers, freelancers, content creators,
            and so on.</p>
          <h3>What is Branding For Profit?</h3>      
          <p>Branding For Profit is a brand new counterintuitive approach to creating a highly profitable brand.
          It leverages powerful techniques based on human psychology scientifically proven to convert prospects into buyers.<br>
          <br>
          The Branding For Profit Framework is a solution to the common problem of not being able to create a Brand that instantly appeals to customers.
             Through many years of trial and error we have created an easy step by step guide that can be applied to any business.
            It's a guide that includes the most important principles of creating a brand that ensures you stand out in the marketplace.
            </p>
          <h3>Do you offer more in depth help?</h3>
          <p class="">Yes. Nothing was held back while writing this book but for the people that want to further
            assistance we do offer opportunities to “upgrade” your order after purchasing. We also have our group of
            private clients (by application only) if you want us to help you implement everything.</p>
          
          <h3>Is there a physical version available?</h3>
          <p class="pb-3">Yes, you can get the physical version on Amazon (simply search Branding For Profit Book). However, it is sold at a higher price and will not include any special offers or bonus material.</p>

        </div>
        <div class="col-lg-6 pr50">
          <h3>How is this different than other products?</h3>
          <p>It works. We have a proven track record of not just utilizing this model for ourselves, but also for our
            private clients. The other thing our customers LOVE is that you don’t need a big budget to start.
             We show you techniques to create a valuable brand at a very low cost.
            </p>
          <h3>I want this, what exactly am I getting?</h3>
          <p>You are getting a copy of the Branding For Profit ebook, available instantly. The book supports all the popular book readers such as Kindle and Apple Books. You are getting the highly
            praised Fast Start Branding Video Course. This is an on demand implementation series that guides you through from start to finish. You will know how to create a profitable Brand within hours rather than weeks or months.
            <br><br> You are also getting the other bonus material: Brand Style Guide Template, The Perfect Story Guide, Buyers Journey Template, The Perfect Customer Template,
            access to our FB community, The Persuasive Brand Guide, and a Launch Checklist.</p>
          
            <h3>How do I access the product after purchase?</h3>
          <p class="">An account will be made for you on our training portal called Software Startup Academy.
             We initially created this portal to train our own internal staff. Now it's available for our clients too.<br>
             <br>Once you have set the password for your account, simply log in. Your book and bonus material will be instantly available. (Email instructions will be sent after purchase on how to set your password).
           </p>
  
          <h3>Is there a guarantee?</h3>
          <p class="mb0">Yes, you get a 30 day money back guarantee in case it’s not for you. I even let you keep the
            book.</p>
  
        </div>
      </div>
  
      <div class="row mt-5">
        <div class="col-12 text-center mt-5">
          <img alt="download_your_copy" class="download_your_copy" src="/images/dwldcopyyellow.png">
          <a href="#order_now" class="download_btn w676"><img alt="arrow" class="btn_arrow" src="/images/btn_arrow.svg">
            Download Now for only $97.00 <br><small>And Get Instant Access</small></a>
          <a href="#order_now" class="clickhere_txt" style="color: #ffffff !important;">Click Here To Download Your
            Branding For Profit Book Now</a>
  
        </div>
      </div>
    </div>
  </div>
  