<div id="fixed_footer" style="bottom: -155px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img alt="Footer Banner" class="footer_banner img-fluid"
                    src="/images/about/branding-for-profit-mockups.png">
            </div>
            <div class="col-lg-4 text-center"><a href="#order_now" style="margin: 12px 0 0"
                    class="download_btn w100 pt-3"><img alt="arrow" class="btn_arrow2" src="/images/btn_arrow.svg">
                    Download Now <br><small>And Get Instant Access</small></a></div>
            <div class="col-lg-4 text-center"><button class="total_btn">Get The Branding For Profit Book For
                    $9.00</button>
                <p>(Save $70 today) Download The eBook<br>For <del>$97</del> Just $9.00! Delivered instantly.<br>Start
                    reading in the next 2 minutes.<br></p>
            </div>
        </div>
    </div>
</div>