<div class="demo_video_sec">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="headings2">
            Here’s what a few people had to say when they discovered Branding For Profit...
          </h2>
        </div>
  
        <div class="col-12 text-center mb-3">
          <div class="video_section mb25">

            <div class="">
              <script src="https://fast.wistia.com/embed/medias/eqxinop2a8.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_eqxinop2a8 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/eqxinop2a8/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
            </div>

          </div>
        </div>
        <div class="col-12 text-center mt-5">
          <img alt="download_your_copy" class="download_your_copy" src="/images/download_your_copy.svg">
          <a href="#order_now"
            class="download_btn w676"><img alt="arrow" class="btn_arrow" src="/images/btn_arrow.svg">
            Download Now for only $9.00 <br><small>And Get Instant Access</small></a>
          <a href="#order_now"
            class="clickhere_txt">Click Here To Download Your Branding For Profit Book Now</a>
          <p class="mbc_logo_txt"><img alt="mbc_logo" src="/images/money_back_logo.png"> Backed By
            Our Unconditional <br>30 Day Money Back Guarantee</p>
        </div>
  
      </div>
  
  
    </div>
  </div>