<div class="demo_video_sec">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="headings2">Check Out the <span>step-by-step video demo</span><br>of how the ascension model works…
          </h2>
        </div>
  
        <div class="col-12 text-center mb-3">
          <div class="video_section mb25">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="/images/507962358.html" webkitallowfullscreen=""
                mozallowfullscreen="" allowfullscreen="" allow="autoplay"></iframe>
            </div>
  
  
          </div>
        </div>
        <div class="col-12 text-center mt-5">
          <img alt="download_your_copy" class="download_your_copy" src="/images/download_your_copy.svg">
          <a href="#order_now"
            class="download_btn w676"><img alt="arrow" class="btn_arrow" src="/images/btn_arrow.svg">
            Download Now for only $9.00 <br><small>And Get Instant Access</small></a>
          <a href="#order_now"
            class="clickhere_txt">Click Here To DOwnload Your Branding For Profit Book Now</a>
          <p class="mbc_logo_txt"><img alt="mbc_logo" src="/images/money_back_logo.png"> Backed By
            Our Unconditional <br>30 Day Money Back Guarantee</p>
        </div>
  
      </div>
  
  
  
  
  
  
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="headings2">Here’s <span>What A Few Of Our Members Have To Say</span> About<br>
             Using The Branding For Profit Model In Their Niche...</h2>
        </div>
  
        <div class="col-12 text-center mb-3">
          <div class="video_section mb25">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="/images/507962742.html" webkitallowfullscreen=""
                mozallowfullscreen="" allowfullscreen="" allow="autoplay"></iframe>
            </div>
  
  
          </div>
        </div>
        <div class="col-12 text-center mt-5">
          <img alt="download_your_copy" class="download_your_copy" src="/images/download_your_copy.svg">
          <a href="#order_now"
            class="download_btn w676"><img alt="arrow" class="btn_arrow" src="/images/btn_arrow.svg">
            Download Now for only $9.00 <br><small>And Get Instant Access</small></a>
          <a href="#order_now"
            class="clickhere_txt">Click Here To DOwnload Your Branding For Profit Book Now</a>
          <p class="mbc_logo_txt"><img alt="mbc_logo" src="/images/money_back_logo.png"> Backed By
            Our Unconditional <br>30 Day Money Back Guarantee</p>
        </div>
  
      </div>
  
    </div>
  </div>