<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"><p><img alt="Phone" src="images/phone-fill.svg"> Order By Phone <span class="" >+1 (800) 444 2041</span></p></div>
            <div class="col-lg-4 text-center"><a href="#"><img width="43" alt="Branding For Profit" src="/apple-touch-icon.png"/></a></div>
            <div class="col-lg-4 text-right"><p class="txt_yellow2"><img alt="Phone" src="images/mail.svg"> Need Help? <a style="text-decoration: underline!important" class="txt_yellow2" href="mailto:support@automaticclients.com">Click Here to Contact Us</a></p></div>
        </div>
    </div>
</div>