<div class="money_back pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img class="moneyback" alt="Money Back" src="/images/money_back_logo.png">
          <h3 class="headings">Your Purchase Is Backed By Our<br>Unconditional Money Back Guarantee</h3>
          <h4>I know that before I get into anything… I’d like to know what I’m buying and that it’s backed by a solid
            money-back guarantee.<br><br>
  
            <strong><em>And I want you to be comfortable with this purchase.</em></strong><br><br>
  
            And even though it’s only $9.00 – you worked for that money and it counts.<br><br>
  
            Like my grandpa used to say “Test drive the car before you drive it off the lot”…<br><br>
  
            So here’s what I’ve arranged:<br><br>
  
            Download the eBook, read it, but more importantly apply what you learn in there.<br><br>
  
            And if you’re not blown away by what you learn.<br><br>
  
            Then just shoot us an email at admin@imobilize.co.uk and request a refund within 30 days.<br><br>
  
            We’ll refund you your $9.00 and let you keep the Branding For Profit book free of charge.<br><br>
  
            How’s that for a money back guarantee? I’d say pretty good!
          </h4>
        </div>
      </div>
    </div>
  </div>


<!--&&&&&&&&&&&&&& Download Now for only $9.00 &&&&&&&&&&&&&&&&&-->
<div style="background: none!important;" class="hereiseverything pt0" id="sequence-id-19" sequence-id="19">
    <div class="container">
  
      <div class="row">
        <div class="col-12 text-center mt-5">
          <img alt="download_your_copy" class="download_your_copy" src="/images/downloadcopynow.png">
          <a href="#order_now" class="download_btn w676"><img alt="arrow" class="btn_arrow" src="/images/btn_arrow.svg">
            Download Now for only $9.00 <br><small>And Get Instant Access</small></a>
          <a href="#order_now" class="clickhere_txt" style="color: #000471 !important;">Click Here To DOwnload Your
            Branding For Profit Book Now</a>
          <p class="mbc_logo_txt" style="color: #000471 !important;"><img alt="mbc_logo" src="/images/money_back_logo.png">
            Backed By Our Unconditional <br>30 Day Money Back Guarantee</p>
        </div>
      </div>
    </div>
  </div>