
<!--&&&&&&&&&&&&&& Fixed Footer &&&&&&&&&&&&&&&&&-->
<div id="fixed_footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4"><img alt="Footer Banner" class="img-fluid w-75" src="/images/about/branding-for-profit-mockups.png" /></div>
        <div class="col-lg-4 text-center"><a href="#order_now" style="margin: 12px 0 0"
            class="download_btn w100 pt-3"><img alt="arrow" class="btn_arrow2" src="/images/btn_arrow.svg"> Download
            Now <br><small>And Get Instant Access</small></a></div>
        <div class="col-lg-4 text-center">
          <button class="total_btn">Get The Branding For Profit Book For
            $9.00</button>
          <p>(Save 66% today) Download The eBook<br>For <del>$29</del> Just $9.00! Delivered instantly.<br>Start
            reading in the next 2 minutes.<br></p>
        </div>
      </div>
    </div>
  </div>

<div class="footer_sales" id="sequence-id-20" sequence-id="20">
    <div class="container">
        <div class="row top_section">
            <div class="col-md-3">
                <h4>Order Now</h4>
                <p>Order the book<br>and all the<br>bonuses for just<br>$9.00 today.</p>
            </div>
            <div class="col-md-3">
                <h4>Banking</h4>
                <img class="cards" alt="Branding For Profit Logo" src="/images/cards_footer.png">
            </div>
            <div class="col-md-3">
                <h4>About Branding For Profit</h4>
                <a href="/privacy-policy" target="_blank">Privacy Policy</a>
                <a href="/terms" target="_blank">Terms &amp; Conditions</a>

                <a href="mailto:admin@imobilize.co.uk">Contact us</a>
                <p>+1 (215) 642 8964</p>
            </div>
            <div class="col-md-3">
                <img class="footer_logo mt-1 img-fluid" alt="AC LOGO" src="/images/about/branding-for-profit-mockups.png">
                <h5 class="text-center">We help companies sell more digital products than they can handle</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <hr>
                <p class="footer_txt lh_22">This site is not a part of the Facebook website or Facebook Inc.
                    Additionally, This site is NOT endorsed by Facebook in any way. FACEBOOK is a trademark of FACEBOOK,
                    Inc.</p>
                <div class="row pt-3 pb-5">
                    <div class="col-md-6">
                        <img class="footer_logo img-fluid" alt="AC LOGO" src="/favicon-32x32.png">
                        <h2 class="text-white">Branding For Profit Book</h2>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="/#order_now" style="margin: 25px 0 0; min-width:350px;"
                            class="download_btn w100 pt-3"><img alt="arrow" class="btn_arrow2"
                                src="/images/btn_arrow.svg"> Download Now <br><small>And Get Instant Access</small></a>
                    </div>
                </div>
                <p class="footer_txt">We can not and do not make any guarantees about your ability to get results or
                    earn any money with our ideas, information, tools, or strategies. What we can guarantee is your
                    satisfaction with our training. We give you a 30-day 100% satisfaction guarantee on the products we
                    sell, so if you are not happy for any reason with the quality of our training, just ask for your
                    money back. You should know that all products and services by our company are for educational and
                    informational purposes only. Nothing on this page, any of our websites, or any of our content or
                    curriculum is a promise or guarantee of results or future earnings, and we do not offer any legal,
                    medical, tax or other professional advice. Any financial numbers referenced here, or on any of our
                    sites, are illustrative of concepts only and should not be considered average earnings, exact
                    earnings, or promises for actual or future performance. Use caution and always consult your
                    accountant, lawyer or professional advisor before acting on this or any information related to a
                    lifestyle change or your business or finances. You alone are responsible and accountable for your
                    decisions, actions and results in life, and by your registration here you agree not to attempt to
                    hold us liable for your decisions, actions or results, at any time, under any circumstance.</p>

            </div>
        </div>
    </div>
</div>

