<section class="page-section bg-white pt-5 border-top border-bottom">
  <div class="container">
    <div class="row hereishow_sec">
      <div class="col-lg-12">
        <h2>Here's How I Went From Being A Complete Failure To Running My Own Highly Profitable Digital Agency And
          Owning Multiple Tech Products Providing An Extra Income Stream.</h2>
        <p>Along The Way I Had To Ignore Conventional Wisdom, Break All The Rules, And Do Something Completely Different
          To Find A Successful Way To Launch
          – Read The Story Below To Discover What Happened…</p>
      </div>
    </div>
    <div class="row justify-content-center py-5">
      <div class="col-lg-10 col-11">
        <h3 class="pb-3">This Personal Experience Changed Everything</h3>
        <p class="center-subtitle px-1 ">Let me share my personal story with you. Before Branding For Profit
          was
          developed, I
          failed miserably as an
          entrepreneur.</p>
        <p class="px-1">I had never been taught business at school and was never really that interested in
          making money.
          I just
          wanted to work on cool software projects that were interesting.

        <p class="px-1">I was, however, inspired by some of the famous software developers such as Bill Gates and Elon
          Musk that
          had created something the world wanted and used.</p>
        <br />
        <p>So I set out to build something I thought the world needed. An events platform that would change how we
          discover and engage with up-coming events. Think of Eventbrite crossed with Instagram and you will be close
          to what I had in mind.</p>
        <br />
        <p class="px-1">You can see some screenshots of the app below. For no other reason than I thought it was a cool
          name, I
          called the website and app Onit. To this day I still cringe even just saying the name ...</p>


      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <img src="/images/landing-page/onit-screenshot.png" class="img-fluid">
      </div>

      <div class="col-sm-2">
        <img src="/images/landing-page/onit-screenshot1.png" class="img-fluid">
      </div>
      <div class="col-sm-2">
        <img src="/images/landing-page/onit-screenshot2.png" class="img-fluid">
      </div>
      <div class="col-sm-2">
        <img src="/images/landing-page/onit-screenshot3.png" class="img-fluid">
      </div>

      <div class="col-sm-2">
        <img src="/images/landing-page/onit-screenshot4.png" class="img-fluid">
      </div>
      <div class="col-sm-2">
        <img src="/images/landing-page/onit-screenshot5.png" class="img-fluid">
      </div>
    </div>
    <div class="row justify-content-center pt-5 pb-5">
      <div class="col-lg-10 col-11">

        <p class="px-1">I wasn't alone in this endeavor. I hired some inexperienced software developers and personally
          mentored and
          trained them. In doing so I discovered I had a real talent for teaching and making things easy to understand.
          They eventually became great software engineers.</p>

        <p class="px-1">Below you can see me in a picture with my first employees. </p>
      </div>
    </div>

    <div class="row justify-content-center pt-3 pb-5">
      <div class="col-lg-10 col-11">
        <p class="px-1"> I was over the moon. I thought I had finally made it. Owning a company, hiring employees and
          getting them
          involved in my software project ideas. I moved us into an office space and continued to ramp up the team</p>
        </p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-4">
        <img src="/images/landing-page/andre-barrett-employees.jpg" class="img-fluid">
      </div>
      <div class="col-sm-4 mt-1">
        <img src="/images/landing-page/startup-office-space.jpg" class="img-fluid">
      </div>
    </div>

    <div class="row justify-content-center pt-5 pb-5">
      <div class="col-lg-10 col-11">

        <p class="px-1">After years of coaching and mentoring my employees we had finally finished the project. I was
          super excited.
          The website and app was ready to be launched...</p>
      </div>
    </div>
  </div>
</section>


<div class="bg-light">
  <div class="container pt-5 pb-5">
    <div class="row justify-content-center pb-5">
      <div class="col-lg-10 col-11">

        <h3 class="pb-3">My First Major Product Launch Was A Disaster!</h3>
        <p class="px-1">The sofware worked well. Both website and app had a great user interface, nicely designed and
          was simple to
          use. Being one of the best software developers in the UK I expected nothing less.</p>

        <br />
        <p class="px-1"><b>The problem was, no one
            wanted to use it!</b></p>
        <p class="px-1">I had made three of the biggest mistakes a Startup could make.
          <li class="px-1">Firstly I had designed and developed something for myself assuming that lots of other people
            would want it
            too. </li>
          <li class="px-1">Secondly I had not tested the market to see if there was a demand.</li>
          <li class="px-1">Third, I knew nothing about marketing.</li>

        </p>
        <br />
        <p class="px-1">I had spent so much time focusing on becoming the best software engineer I could that it never
          occured to me
          that I needed to learn anything about marketing.</p>
        <p class="px-1">I had the "if you build it they will come" mentality. If I ever find the person that made me
          believe this
          nonsense I will beat him to a pulp!</p>
        <br />
        <p class="px-1">Up until now <b>I had spent over $150,000 dollars on developing this software!</b> Most of this
          money was
          spent on paying employees but I had also been renting office space, buying computer and office equipment,
          paying utility bills, paying accountancy fees and even local area office tax.</p>
        <p>With no one using the app or website there was literally no way to recoup this money!</p>
      </div>

    </div>
  </div>
</div>


<section class="page-section bg-white">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-lg-10 col-11">
        <h3 class="pb-3">The First Ever Attempt I Made At Marketing</h3>
        <p class="px-1">Perseverance being one of my personality traits I wasn't giving up that easily.</p>
        <p class="px-1">I believed if I could just market the app people would want to use it for sure. So I devised all
          sorts of clever marketing tactics to build brand awareness and get people to download it.</p>
        <p class="px-1">Below you will see some of my marketing ideas:</p>

      </div>
    </div>

    <div class="border mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-11 mb-3">
          <p class="px-1"> I had coasters made to try and put in all the bars around town. It included a barcode which
            you
            could scan to
            download the app. </p>
        </div>
      </div>
      <div class="row justify-content-center mb-2">
        <div class="col-sm-3">
          <img src="/images/landing-page/onit-coasters.jpg" class="img-fluid">
        </div>
        <div class="col-sm-2 mt-1">
          <img src="/images/landing-page/onit-coasters2.jpg" class="img-fluid">
        </div>
      </div>
    </div>


    <div class="border mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-8 col-11 align-self-center">
          <p class="px-1">I made t-shirts hoping students would wear them and talk about the brand.</p>
        </div>
        <div class="col-sm-4">
          <img src="/images/landing-page/onit-tshirts.jpg" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="border mb-5">
      <div class="row justify-content-center ">
        <div class="col-sm-4">
          <img src="/images/landing-page/onit-condom.png" class="img-fluid">
        </div>
        <div class="col-lg-8 col-sm-8 col-11 align-self-center">
          <p class="px-1">And this one is so embarrassing I can't believe I'm even sharing it. I had a huge box of
            condoms
            with the
            slogan "Be safe while you're Onit!" that I took to parties to hand out.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pt-5 pb-5">
      <div class="col-lg-10 col-11">

        <h4>None of it worked!</h4>
        <p class="px-1">I had run out of ideas after spending loads more money on marketing material I struggled to even
          give away
          for free. To make matters worse, I had an office full of employees I couldn't pay that were all relying on
          this product to be a success!</p>
      </div>
    </div>

  </div>
</section>

<div class="bg-light">
  <div class="container">
    <div class="row justify-content-center pt-5 pb-5">
      <div class="col-lg-10 col-11">

        <h3 class="pb-3">Fast forward to today...</h3>
        <p class="px-1">I now own and run several different companies and I have done several successful product
          launches with more
          on
          the way.</p>

        <p class="px-1">One product is a fitness app called <b>Fit In 5</b> that myself and my business partner Marvin
          launched
          together. It gives you fitness exercises in bitesize 5 min routines so that even if you are limited on time,
          you can still get a workout.
          Here are some screenshots from the app: </p>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="/images/landing-page/fitIn5-app1.png" class="img-fluid">
      </div>
      <div class="col-sm-3">
        <img src="/images/landing-page/fitIn5-app2.png" class="img-fluid mt-1">
      </div>
      <div class="col-sm-3">
        <img src="/images/landing-page/fitIn5-app3.png" class="img-fluid mt-1">
      </div>
      <div class="col-sm-3">
        <img src="/images/landing-page/fitIn5-app4.png" class="img-fluid mt-1">
      </div>
    </div>

    <div class="row justify-content-center pt-5 pb-5">
      <div class="col-lg-10 col-11">

        <p class="px-1">Below you will see pictures of Marvin on one of the biggest sports channels in the UK promoting
          the app.</p>

        <p class="px-1">When Fit In 5 was launched on <b><u>Sky TV (UK TV Network)</u></b> it had over <b>2 million
            views in the
            first month!</b></p>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <img src="/images/landing-page/marvin-skysports1.jpg" class="img-fluid">
      </div>
      <div class="col-sm-4">
        <img src="/images/landing-page/marvin-skysports2.jpg" class="img-fluid mt-1">
      </div>
      <div class="col-sm-4">
        <img src="/images/landing-page/marvin-skysports3.jpg" class="img-fluid mt-1">
      </div>
    </div>

    <div class="row justify-content-center pt-5 pb-5">
      <div class="col-lg-10 col-11">
        <p class="px-1">Fit In 5 was used by all sorts of famous celebrities including Luol Deng (British NBA star),
          Melanie Sykes
          and Richard Blackwood. It was even promoted in various newspaper articles and fitness magazines! </p>
      </div>
      <div class="col-sm-3">
        <img src="/images/landing-page/fitIn5-melsykes.jpg" class="img-fluid mt-5">
      </div>
      <div class="col-sm-3">
        <img src="/images/landing-page/fitIn5-richardblackwood.jpg" class="img-fluid mt-1">
      </div>
    </div>


    <div class="row justify-content-center pt-5 pb-5">
      <div class="col-lg-10 col-11">
        <h3 class="pb-3">Why Was This App Launch Different?</h3>
        <p class="px-1">The launch was different because I had stumbled upon the secret of what makes a good Brand. Call
          it dumb luck
          or an act of God if you want. But this is how I came across it...</p>
        <br />
        <p class="px-1">While on holiday I struck up a random conversation with a complete stranger by the pool side
          bar. Turns out
          this guy was very rich. He had ran several businesses, sold them and was now retired. Being in business too I
          decided to share with him some of the stuff I was doing.
          Maybe he could offer me some advice I thought.
        </p>
        <br />
        <p class="px-1">
          After I finished explaining my previous failures to him, he smiled, turned to me and uttered a few simple
          words that I will never forget...
          <b>"The problem is you don't understand humans" he said. Read some books on human psychology.</b>
        </p>
        <br />
        <p class="px-1">I felt insulted. Here I was pouring my heart out to this complete stranger and all he could say
          was that I
          didn't understand humans! Why would I want to understand humans I thought. They are irrational and illogical.
          I worked with computers because code made a lot more sense. I never spoke to the guy again after that.</p>
        <br />
        <p class="px-1">When I got back from holiday I was staring at some code late at night. For a break I started to
          browse the
          web. Reading some articles on marketing I came across one that talked about the connection between marketing
          and human behaviour. Interesting I thought... maybe there was something to what the stranger on holiday had
          said.</p>
        <br />
        <p class="px-1">Due to my ignorance, I had treated the stranger badly. Little did I know that he had steered me
          in the
          direction of uncovering some of the most powerful secrets to a successful company. To this day I feel terrible
          for not even knowing his name.</p>

      </div>
    </div>
  </div>
</div>


<section class="page-section bg-white pt-5 border-bottom">
  <div class="container">
    <div class="row justify-content-center pt-5 pb-5">
      <div class="col-lg-10 col-11">
        <h3 class="pb-3">What Was The Result?</h3>
        <p class="px-1">After consuming many books on the topic of human behaviour, books on advertising, and books on
          marketing, it
          became very clear what I needed to do.</p>
        <p class="px-1">We had to convince consumers we were trustworthy, highly valuable, and that we could satisfy a
          particular
          desire they had.</p>

        <p class="px-1"><b>The best way to do this is with an amazing Brand.</b></p>
        <br />
        <p class="px-1">Before even doing a proper launch of the fitness app, we had used some of the powerful branding
          techniques
          that I had started to develop. (The same techniques are shared with you in the Branding For Profit book). It
          led to a huge contract with a UK television network. <b>The best part was, we didn't yet have a single
            customer!!!</b></p>
        <br />
        <p class="px-1">We got exposure most Startups dream of before the product was fully ready. We were in such a
          rush to get it
          out we hadn't built the app to sustain a large volume of users. The service went down for several hours under
          the load while we frantically tried to fix it.</b></p>
        <p class="px-1">It was the experience of launching this App where I first learnt how to fully utilize the power
          of Branding.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center mt-5">
        <img alt="download_your_copy" class="download_your_copy" src="/images/download_your_copy.svg">
        <a href="#order_now" class="download_btn w676"><img alt="arrow" class="btn_arrow" src="/images/btn_arrow.svg">
          Download Now for only $9.00 <br><small>And Get Instant Access</small></a>
        <a href="#order_now" class="clickhere_txt" style="color: #000471 !important;">Click Here To DOwnload Your
          Branding For Profit Book Now</a>
        <p class="mbc_logo_txt" style="color: #000471 !important;"><img alt="mbc_logo"
            src="/images/money_back_logo.png">
          Backed By Our Unconditional <br>30 Day Money Back Guarantee</p>
      </div>
    </div>

  </div>
</section>