{{ define "main" }}


<!--&&&&&&&&&&&&&& top-Header & Banner & intro text   &&&&&&&&&&&&&&&&&-->
<div class="sales_top_bkg">


  <div class="sales_intro">
    <div class="container">
      <!--********TEXT INTRO*********-->
      <div class="row text-center">
        <div class="col-lg-12">
          <div class="free_course">
            <p>
              For Anyone Looking for a better way to start a profitable business...
            </p>
          </div>
        </div>
        <div class="col-lg-12">
          <h1>HOW WE CREATE PROFITABLE BRANDS THAT ARE <span>WORTH $1,000,0000</span> EVEN BEFORE A SINGLE PRODUCT IS
            SOLD</h1>
          <!-- <h1>How We Sell <span>100 - 300 Books A Day </span> And Turn <br> Those <span>Books Into</span>  <u>automated</u> <span>$5,000+ </span>Sales</h1> -->
          <!-- <h1>HOW WE GET <span>100 - 300 CUSTOMERS PER DAY </span> AND CONVERT THEM INTO <span>5,000+ </span>HIGH TICKET CLIENTS</h1> -->
          <p class="heading_txt">Using A Simple Repeatable Process That <u>Allows You To Create An Instantly Reputable
              Company</u> Without Having To Spend Loads Of Money On Designers Or A Branding Agency</p>
        </div>
      </div>

      <!--********VIDEO & RIGHT SIDE BAR*********-->
      <div class="row">
        <!--=======LEFT===========-->
        <div class="col-lg-8 pr45">
          <div class="video_section">



            <div id="vi-video-1-container" class="embed-responsive embed-responsive-16by9">
              <iframe id="vi-banner-video" class="embed-responsive-item"
                src="https://player.vimeo.com/video/498319977?muted=1&autoplay=1&title=0&byline=0&portrait=0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay"></iframe>
              <!--==<a id="js-video-control" class="video-control js-video-control paused" href="javascript:void(0);" style="z-index:99999999;position:absolute;opacity:1;width:100%;height:100%;top:0%;left:0%;" ></a>===-->

              <a href="javascript:void(0);" id="js-video-control" class="video_play_button video_play_button2"></a>
              <a href="javascript:void(0);" id="js-video-control2" class="audio_play_button"></a>
            </div>


          </div>

          <h2>What Is <span>Branding For Profit</span>?</h2>
          <p class="introdetails">
            Branding For Profit is <b><u>a counterintuitive approach</u></b> to creating a highly profitable
            brand.<br><br>

            <em>We create brand assets at a very low cost. Then using tactics based on human psychology, we create a
              reputation for the brand that is highly perceived in the market place.
            </em><b>Customers become instant buyers.</b><br><br>

            This is done through the Branding For Profit framework which uses an easy to follow step by step approach.
            The approach leverages techniques employed by successful startup companies that turned
            their brands into multi-million dollar profit generating machines.
          </p>
        </div>

        <!--======= RIGHT SIDE SIGNUP FORM ===========-->

        {{- partial "signup-form.html" . -}}


      </div>

    </div>
  </div>


</div>

<!--&&&&&&&&&&&&&& SHORTCUT SECTION  &&&&&&&&&&&&&&&&&-->

{{- partial "shortcut-section.html" . -}}


<!--&&&&&&&&&&&&&& BOOK AND BONUS SECTION  &&&&&&&&&&&&&&&&&-->

{{- partial "book-and-bonus-section.html" . -}}


<!--&&&&&&&&&&&&&& STEP BY STEP VIDEO SECTION  &&&&&&&&&&&&&&&&&-->

{{- partial "framework-video-section.html" . -}}


<!--&&&&&&&&&&&&&& STORY SECTION  &&&&&&&&&&&&&&&&&-->

{{- partial "story-section.html" . -}}


<!--&&&&&&&&&&&&&& CHAPTER SECTION &&&&&&&&&&&&&&&&&-->

{{- partial "book-chapters-section.html" . -}}


<!--&&&&&&&&&&&&&& FAQ &&&&&&&&&&&&&&&&&-->

{{- partial "faq-section.html" . -}}


<!--&&&&&&&&&&&&&& money_back &&&&&&&&&&&&&&&&&-->

{{- partial "money-back.html" . -}}


{{- partial "sales-footer.html" . -}}

{{- partial "footer-banner.html" . -}}

{{- partial "footer-scripts.html" . -}}


{{ end }}